 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 651px;
}

.u-section-1 .u-text-1 {
  font-size: 0.875rem;
  font-weight: 700;
  width: 177px;
  margin: 39px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 10px auto 0;
}

.u-section-1 .u-shape-1 {
  width: 570px;
  height: 15px;
  background-image: none;
  margin: 40px auto 0;
}

.u-section-1 .u-shape-2 {
  width: 496px;
  height: 15px;
  margin: 10px auto 0;
}

.u-section-1 .u-video-1 {
  height: 333px;
  width: 682px;
  margin: 20px auto 0;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-weight: 700;
  margin: 26px 395px 0 auto;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  margin: -47px auto 52px 419px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-right: 195px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 219px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
  }

  .u-section-1 .u-video-1 {
    height: 264px;
    width: 540px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 21px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
  }

  .u-section-1 .u-shape-2 {
    width: 340px;
  }

  .u-section-1 .u-video-1 {
    height: 166px;
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 643px;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 350px;
  margin: 90px 0 0 auto;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: -310px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-2 .u-shape-1 {
  width: 472px;
  height: 15px;
  margin: 30px auto 0 0;
}

.u-section-2 .u-shape-2 {
  width: 440px;
  height: 15px;
  margin: 15px auto 0 0;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  background-image: none;
  border-style: solid;
  margin: 28px auto 0 216px;
}

.u-section-2 .u-btn-2 {
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: -47px auto 0 50px;
}

.u-section-2 .u-line-1 {
  width: 1000px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 240px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 690px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 161px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -382px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 127px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 16px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 20px;
    margin-left: 16px;
  }

  .u-section-2 .u-line-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-2 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 672px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 332px;
    margin-top: 142px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: 105px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-shape-1 {
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-shape-2 {
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 209px;
    margin-top: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-2 .u-shape-1 {
    width: 340px;
  }

  .u-section-2 .u-shape-2 {
    width: 340px;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 607px;
}

.u-section-3 .u-image-1 {
  width: 600px;
  height: 400px;
  margin: 60px auto 0 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: -336px 315px 0 auto;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 30px 59px 0 auto;
}

.u-section-3 .u-text-3 {
  margin: 30px 0 0 661px;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  background-image: none;
  border-style: solid;
  margin: 28px 153px 0 auto;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  margin: -47px 328px 0 auto;
}

.u-section-3 .u-line-1 {
  width: 1000px;
  height: 3px;
  transform-origin: center top 0px;
  margin: 212px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    height: 401px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 461px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-3 .u-line-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-3 {
    margin-left: 241px;
  }

  .u-section-3 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 567px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 361px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 61px;
  }

  .u-section-3 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 227px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
  }

  .u-section-3 .u-line-1 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 619px;
}

.u-section-4 .u-text-1 {
  margin-bottom: 0;
  font-weight: 700;
  margin-top: 60px;
  margin-left: 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 30px 311px 0 auto;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: -21px auto 0 0;
}

.u-section-4 .u-image-1 {
  width: 79px;
  height: 79px;
  margin: -70px 491px 0 auto;
}

.u-section-4 .u-shape-1 {
  width: 360px;
  height: 15px;
  margin: -44px 65px 0 auto;
}

.u-section-4 .u-shape-2 {
  width: 335px;
  height: 15px;
  margin: 13px 90px 0 auto;
}

.u-section-4 .u-shape-3 {
  width: 395px;
  height: 15px;
  margin: 21px auto 0 0;
}

.u-section-4 .u-shape-4 {
  width: 373px;
  height: 15px;
  margin: 15px auto 0 0;
}

.u-section-4 .u-image-2 {
  width: 79px;
  height: 79px;
  text-align: start;
  margin: -6px 491px 0 auto;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  text-align: start;
  margin: -79px 311px 0 auto;
}

.u-section-4 .u-shape-5 {
  width: 360px;
  height: 15px;
  text-align: start;
  margin: 14px 65px 0 auto;
}

.u-section-4 .u-btn-1 {
  font-weight: 700;
  border-style: solid;
  background-image: none;
  margin: -13px auto 0 167px;
}

.u-section-4 .u-btn-2 {
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: -46px auto 0 0;
  padding: 9px 31px 10px 30px;
}

.u-section-4 .u-shape-6 {
  width: 335px;
  height: 15px;
  text-align: start;
  margin: -20px 90px 0 auto;
}

.u-section-4 .u-image-3 {
  width: 79px;
  height: 79px;
  text-align: start;
  margin: 61px 491px 0 auto;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  text-align: start;
  margin: -79px 311px 0 auto;
}

.u-section-4 .u-shape-7 {
  width: 360px;
  height: 15px;
  text-align: start;
  margin: 14px 65px 0 auto;
}

.u-section-4 .u-shape-8 {
  width: 335px;
  height: 15px;
  text-align: start;
  margin: 13px 90px 0 auto;
}

.u-section-4 .u-line-1 {
  width: 1000px;
  height: 3px;
  margin: 150px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-4 .u-line-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    margin-right: 238px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 238px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 238px;
  }

  .u-section-4 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    margin-right: 179px;
  }

  .u-section-4 .u-image-1 {
    margin-right: 461px;
  }

  .u-section-4 .u-image-2 {
    margin-right: 461px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 179px;
  }

  .u-section-4 .u-image-3 {
    margin-right: 461px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 179px;
  }

  .u-section-4 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-2 {
    margin-right: 113px;
  }

  .u-section-4 .u-image-1 {
    margin-right: 261px;
  }

  .u-section-4 .u-shape-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-4 .u-shape-2 {
    margin-right: 5px;
  }

  .u-section-4 .u-shape-3 {
    width: 340px;
  }

  .u-section-4 .u-shape-4 {
    width: 340px;
  }

  .u-section-4 .u-image-2 {
    margin-right: 261px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 113px;
  }

  .u-section-4 .u-shape-5 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-4 .u-shape-6 {
    margin-right: 5px;
  }

  .u-section-4 .u-image-3 {
    margin-right: 261px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 113px;
  }

  .u-section-4 .u-shape-7 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-4 .u-shape-8 {
    margin-right: 5px;
  }

  .u-section-4 .u-line-1 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 750px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-5 .u-shape-1 {
  width: 630px;
  height: 15px;
  margin: 30px auto 0;
}

.u-section-5 .u-shape-2 {
  width: 579px;
  height: 15px;
  margin: 15px auto 0;
}

.u-section-5 .u-list-1 {
  width: 920px;
  margin: 50px auto 0;
}

.u-section-5 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-auto-columns: calc(25% - 7.5px);
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  min-height: 349px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px 20px 0;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-5 .u-shape-3 {
  height: 15px;
  margin: 20px 0 0;
}

.u-section-5 .u-shape-4 {
  height: 15px;
  margin: 15px 0 0;
}

.u-section-5 .u-shape-5 {
  height: 15px;
  margin: 15px 0 0;
}

.u-section-5 .u-shape-6 {
  height: 15px;
  margin: 15px 0 0;
}

.u-section-5 .u-shape-7 {
  height: 16px;
  width: 133px;
  margin: 15px auto 0 0;
}

.u-section-5 .u-btn-1 {
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: 30px auto 0 0;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px 20px 0;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-6 {
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-5 .u-shape-8 {
  height: 15px;
  margin: 20px 0 0;
}

.u-section-5 .u-shape-9 {
  height: 15px;
  margin: 15px 0 0;
}

.u-section-5 .u-shape-10 {
  height: 15px;
  margin: 15px 0 0;
}

.u-section-5 .u-shape-11 {
  height: 15px;
  margin: 15px 0 0;
}

.u-section-5 .u-shape-12 {
  height: 16px;
  width: 133px;
  margin: 15px auto 0 0;
}

.u-section-5 .u-btn-2 {
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: 30px auto 0 0;
}

.u-section-5 .u-list-item-3 {
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 20px 20px 0;
}

.u-section-5 .u-text-7 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-8 {
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-5 .u-shape-13 {
  height: 15px;
  margin: 20px 0 0;
}

.u-section-5 .u-shape-14 {
  height: 15px;
  margin: 15px 0 0;
}

.u-section-5 .u-shape-15 {
  height: 15px;
  margin: 15px 0 0;
}

.u-section-5 .u-shape-16 {
  height: 15px;
  margin: 15px 0 0;
}

.u-section-5 .u-shape-17 {
  height: 16px;
  width: 133px;
  margin: 15px auto 0 0;
}

.u-section-5 .u-btn-3 {
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: 30px auto 0 0;
}

.u-section-5 .u-list-item-4 {
  background-image: none;
}

.u-section-5 .u-container-layout-4 {
  padding: 20px 20px 0;
}

.u-section-5 .u-text-9 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-10 {
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-5 .u-shape-18 {
  height: 15px;
  margin: 20px 0 0;
}

.u-section-5 .u-shape-19 {
  height: 15px;
  margin: 15px 0 0;
}

.u-section-5 .u-shape-20 {
  height: 15px;
  margin: 15px 0 0;
}

.u-section-5 .u-shape-21 {
  height: 15px;
  margin: 15px 0 0;
}

.u-section-5 .u-shape-22 {
  height: 16px;
  width: 133px;
  margin: 15px auto 0 0;
}

.u-section-5 .u-btn-4 {
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: 30px auto 0 0;
}

.u-section-5 .u-shape-23 {
  width: 630px;
  height: 15px;
  margin: 30px auto 0;
}

.u-section-5 .u-shape-24 {
  width: 579px;
  height: 15px;
  margin: 15px auto 55px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 7.5px));
  }

  .u-section-5 .u-shape-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-shape-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-shape-5 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-shape-6 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-shape-8 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-shape-9 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-shape-10 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-shape-11 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-shape-13 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-shape-14 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-shape-15 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-shape-16 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-shape-18 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-shape-19 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-shape-20 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-shape-21 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-list-1 {
    width: 720px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 1093px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-shape-1 {
    width: 540px;
  }

  .u-section-5 .u-shape-2 {
    width: 540px;
  }

  .u-section-5 .u-list-1 {
    width: 540px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-shape-23 {
    width: 540px;
  }

  .u-section-5 .u-shape-24 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-shape-1 {
    width: 340px;
  }

  .u-section-5 .u-shape-2 {
    width: 340px;
  }

  .u-section-5 .u-list-1 {
    width: 340px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-5 .u-shape-23 {
    width: 340px;
  }

  .u-section-5 .u-shape-24 {
    width: 340px;
  }
}.u-block-f038-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-f038-3 {
  position: absolute;
  left: calc(((100% - 1140px) / 2)  + 87px);
  width: 75px;
  height: 75px;
  top: auto;
  background-image: none;
  right: auto;
  bottom: 176px;
}

.u-block-f038-4 {
  position: absolute;
  width: 75px;
  height: 75px;
  left: auto;
  background-image: none;
  top: auto;
  right: calc(((100% - 1140px) / 2)  + 86px);
  bottom: 175px;
}

@media (max-width: 1199px) {
  .u-block-f038-3 {
    left: calc(((100% - 940px) / 2)  + 72px);
  }

  .u-block-f038-4 {
    right: calc(((100% - 940px) / 2)  + 71px);
  }
}

@media (max-width: 991px) {
  .u-block-f038-3 {
    left: calc(((100% - 720px) / 2)  + 55px);
  }

  .u-block-f038-4 {
    right: calc(((100% - 720px) / 2)  + 54px);
  }
}

@media (max-width: 767px) {
  .u-block-f038-3 {
    left: calc(((100% - 540px) / 2)  + 41px);
  }

  .u-block-f038-4 {
    right: calc(((100% - 540px) / 2)  + 41px);
  }
}

@media (max-width: 575px) {
  .u-block-f038-3 {
    left: calc(((100% - 340px) / 2)  + 26px);
  }

  .u-block-f038-4 {
    right: calc(((100% - 340px) / 2)  + 26px);
  }
}

 .u-section-6-1 {
  background-image: none;
}

.u-section-6-1 .u-sheet-1 {
  min-height: 516px;
}

.u-section-6-1 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-6-1 .u-text-2 {
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-6-1 .u-group-1 {
  width: 800px;
  min-height: 260px;
  height: auto;
  margin: 30px auto 0;
}

.u-section-6-1 .u-container-layout-1 {
  padding: 29px 7px;
}

.u-section-6-1 .u-shape-1 {
  height: 15px;
  margin: 0 53px;
}

.u-section-6-1 .u-shape-2 {
  height: 15px;
  margin: 15px 53px 0;
}

.u-section-6-1 .u-shape-3 {
  height: 15px;
  margin: 15px 53px 0;
}

.u-section-6-1 .u-shape-4 {
  height: 15px;
  width: 630px;
  margin: 12px auto 0;
}

.u-section-6-1 .u-image-1 {
  width: 49px;
  height: 49px;
  text-align: left;
  margin: 30px auto 0 294px;
}

.u-section-6-1 .u-text-3 {
  text-align: left;
  margin: -49px 341px 0 361px;
}

.u-section-6-1 .u-text-4 {
  margin: 0 309px 0 361px;
}

@media (max-width: 1199px) {
  .u-section-6-1 .u-group-1 {
    height: auto;
  }

  .u-section-6-1 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6-1 .u-shape-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6-1 .u-shape-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6-1 .u-image-1 {
    margin-top: -19px;
    margin-right: 100px;
    margin-left: auto;
  }

  .u-section-6-1 .u-text-3 {
    margin-top: 32px;
  }
}

@media (max-width: 991px) {
  .u-section-6-1 .u-group-1 {
    width: 720px;
  }

  .u-section-6-1 .u-image-1 {
    margin-right: 60px;
  }

  .u-section-6-1 .u-text-3 {
    margin-right: 82px;
    margin-left: 624px;
  }

  .u-section-6-1 .u-text-4 {
    margin-right: 269px;
    margin-left: 321px;
  }
}

@media (max-width: 767px) {
  .u-section-6-1 .u-group-1 {
    width: 540px;
  }

  .u-section-6-1 .u-shape-4 {
    width: 526px;
  }

  .u-section-6-1 .u-image-1 {
    margin-right: -30px;
  }

  .u-section-6-1 .u-text-3 {
    margin-left: 444px;
  }

  .u-section-6-1 .u-text-4 {
    margin-right: 179px;
    margin-left: 231px;
  }
}

@media (max-width: 575px) {
  .u-section-6-1 .u-group-1 {
    width: 340px;
  }

  .u-section-6-1 .u-shape-4 {
    width: 326px;
  }

  .u-section-6-1 .u-image-1 {
    margin-right: -64px;
  }

  .u-section-6-1 .u-text-3 {
    margin-right: 63px;
    margin-left: 244px;
  }

  .u-section-6-1 .u-text-4 {
    margin-right: 79px;
    margin-left: 131px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 462px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-7 .u-shape-1 {
  width: 637px;
  height: 15px;
  margin: 30px auto 0;
}

.u-section-7 .u-shape-2 {
  width: 583px;
  height: 15px;
  margin: 15px auto 0;
}

.u-section-7 .u-form-1 {
  height: 47px;
  background-image: none;
  width: 550px;
  margin: 60px auto;
}

.u-section-7 .u-input-1 {
  background-image: none;
}

.u-section-7 .u-input-2 {
  background-image: none;
}

.u-section-7 .u-btn-1 {
  border-style: none;
  font-weight: 700;
}

@media (max-width: 767px) {
  .u-section-7 .u-shape-1 {
    width: 540px;
  }

  .u-section-7 .u-shape-2 {
    width: 540px;
  }

  .u-section-7 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-shape-1 {
    width: 340px;
  }

  .u-section-7 .u-shape-2 {
    width: 340px;
  }

  .u-section-7 .u-form-1 {
    width: 340px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 313px;
}

.u-section-8 .u-layout-wrap-1 {
  width: 1040px;
  margin: 60px auto 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 201px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  border-style: none;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-8 .u-btn-2 {
  background-image: none;
  border-style: none;
  margin: 5px auto 0 0;
  padding: 0;
}

.u-section-8 .u-btn-3 {
  background-image: none;
  border-style: none;
  margin: 5px auto 0 0;
  padding: 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 201px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 30px 15px;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-8 .u-btn-4 {
  background-image: none;
  border-style: none;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-8 .u-btn-5 {
  background-image: none;
  border-style: none;
  margin: 5px auto 0 0;
  padding: 0;
}

.u-section-8 .u-btn-6 {
  background-image: none;
  border-style: none;
  margin: 5px auto 0 0;
  padding: 0;
}

.u-section-8 .u-btn-7 {
  background-image: none;
  border-style: none;
  font-size: 1rem;
  margin: 5px auto 0 0;
  padding: 0;
}

.u-section-8 .u-layout-cell-3 {
  min-height: 201px;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-text-3 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-8 .u-btn-8 {
  background-image: none;
  border-style: none;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-8 .u-btn-9 {
  background-image: none;
  border-style: none;
  margin: 5px auto 0 0;
  padding: 0;
}

.u-section-8 .u-btn-10 {
  background-image: none;
  border-style: none;
  margin: 5px auto 0 0;
  padding: 0;
}

.u-section-8 .u-layout-cell-4 {
  min-height: 201px;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px 21px;
}

.u-section-8 .u-text-4 {
  font-weight: 700;
  margin: 0 12px 0 0;
}

.u-section-8 .u-btn-11 {
  border-style: none;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-8 .u-btn-12 {
  border-style: none;
  margin: 5px auto 0 0;
  padding: 0;
}

.u-section-8 .u-btn-13 {
  border-style: none;
  margin: 5px auto 0 0;
  padding: 0;
}

.u-section-8 .u-layout-cell-5 {
  min-height: 201px;
}

.u-section-8 .u-container-layout-5 {
  padding: 30px 20px 15px;
}

.u-section-8 .u-text-5 {
  font-weight: 700;
  margin: 0 12px 0 0;
}

.u-section-8 .u-btn-14 {
  background-image: none;
  border-style: none;
  margin: 20px auto 0 2px;
  padding: 0;
}

.u-section-8 .u-btn-15 {
  background-image: none;
  border-style: none;
  margin: 5px auto 0 0;
  padding: 0;
}

.u-section-8 .u-btn-16 {
  background-image: none;
  border-style: none;
  margin: 5px auto 0 0;
  padding: 0;
}

.u-section-8 .u-btn-17 {
  background-image: none;
  border-style: none;
  margin: 5px auto 0 0;
  padding: 0;
}

.u-section-8 .u-layout-cell-6 {
  min-height: 201px;
}

.u-section-8 .u-container-layout-6 {
  padding: 30px 23px;
}

.u-section-8 .u-text-6 {
  font-weight: 700;
  margin: 0 7px 0 0;
}

.u-section-8 .u-btn-18 {
  background-image: none;
  border-style: none;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-8 .u-btn-19 {
  background-image: none;
  border-style: none;
  margin: 5px auto 0 0;
  padding: 0;
}

.u-section-8 .u-btn-20 {
  background-image: none;
  border-style: none;
  margin: 5px auto 0 0;
  padding: 0;
}

.u-section-8 .u-line-1 {
  width: 1000px;
  height: 0;
  transform-origin: center top 0px;
  margin: 30px auto 20px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 283px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 182px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 182px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 182px;
  }

  .u-section-8 .u-layout-cell-4 {
    min-height: 182px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 0;
  }

  .u-section-8 .u-layout-cell-5 {
    min-height: 182px;
  }

  .u-section-8 .u-text-5 {
    margin-right: 0;
  }

  .u-section-8 .u-btn-14 {
    margin-left: 0;
  }

  .u-section-8 .u-layout-cell-6 {
    min-height: 182px;
  }

  .u-section-8 .u-text-6 {
    margin-right: 0;
  }

  .u-section-8 .u-line-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 121px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-8 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 321px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-8 .u-line-1 {
    width: 340px;
  }
}